.headerBlue {
  background-color: white;
}
.container {
  display: flex;
  padding: 26px 120px;
  max-width: 1440px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navLinkActive {
  color: #00aad4;
}
@media (min-width: 769px) {
  .container {
    justify-content: space-between;
  }
}
@media (max-width: 768.99px) {
  .container {
    gap: 24px;
    justify-content: space-between;
    padding: 20px 24px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 16px 20px;
  }

  .nav {
    gap: 16px;
  }
}
@media (min-width: 1441px) {
  .container {
    gap: 900px;
  }
}
